/* ======== Common styles ======== */
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ======== END Common styles ======== */

/* ======== Page Header styles ======== */
.page-hdr {
  min-width: 288px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-hdr-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
/* Smartphone */
@media only screen and (max-width: 767px) {
  .page-menu,
  .page-address {
    display: none;
  }

  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
  }

  .page-hdr {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/* =========== Mobile menu styles =========== */
@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: opacity 250ms linear, visibility 250ms linear;
    opacity: 0;
    visibility: hidden;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobil-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mobil-page-nav {
    padding-top: 72px;
    margin-bottom: auto;
  }

  .mobil-close-btn {
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    fill: #2e2f42;
    line-height: 0;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-close-btn:hover {
    background-color: #404bbf;
    border: none;
  }

  .mobil-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-close-btn:hover > .mobil-close-btn-icon {
    fill: #ffffff;
  }

  .mobil-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobil-nav-menu-current {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-nav-menu-cont {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-nav-menu-cont:hover {
    color: #404bbf;
  }

  .mobil-page-address {
    margin-bottom: 48px;
    font-style: normal;
  }

  .mobil-page-link {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobil-address-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-address-link:hover {
    color: #4d5ae5;
  }

  .mob-soc-block {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .mob-li-soc-block {
    width: 40px;
    height: 40px;
  }

  .mob-link-soc-block {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-link-soc-block:hover {
    background-color: #31d0aa;
  }

  .mob-iconka-soc-block {
    fill: #f4f4fd;
  }
}

/* =========== END Mobile menu styles =========== */

/* Tablet */
@media only screen and (min-width: 768px) {
  .page-menu,
  .page-address {
    display: flex;
  }

  .menu-open-btn,
  .mobile-menu {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .page-menu {
    display: flex;
    gap: 40px;
  }

  .nav-menu-current {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu-current::after {
    position: absolute;
    content: '';
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
  }

  .nav-menu {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu:hover,
  :focus {
    color: #404bbf;
  }

  .page-address {
    font-style: normal;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  :focus {
    color: #404bbf;
  }

  .page-link-mail {
    margin-bottom: 12px;
  }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 176px;
  }

  .page-link {
    display: flex;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .page-link-mail {
    margin-bottom: 0;
  }
}

/* =========== Hero section =========== */
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  border-radius: 4px;
  font-family: inherit;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  border: none;
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
:focus {
  background: #404bbf;
}

.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fonpage/mobil_fonpage.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  margin: 0 auto;
  min-width: 288px;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/mobil_fonpage@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/tabltett_fonpage.jpg);
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/tabltett_fonpage@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/fonpage.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/fonpage@2x.jpg);
  }
}
/* =========== END Hero section =========== */

/* =========== Benefits section =========== */

@media only screen and (max-width: 1157px) {
  .benefits-icons {
    display: none;
  }
}

.benefits {
  padding: 96px 0;
  min-width: 288px;
}

.benefits-tab {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .benefits-tab {
    display: flex;
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .benefits-titel {
    text-align: left;
  }

  .benefits-liste {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }

  .benefits-tab {
    row-gap: 24px;
  }

  .benefits-liste {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icons {
    display: flex;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .benefits-text {
    font-weight: 400;
  }
}
/* =========== END Benefits section =========== */

/* ============= Team section ============= */
.team-section {
  background: #f4f4fd;
  padding: 96px 0;
  min-width: 288px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-tabl {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-card {
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  max-width: 264px;
  margin: 0 auto;
}

.cont-div {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-liste-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-icon {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconka {
  fill: #f4f4fd;
}

.social-link:hover {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .team-tabl {
    flex-direction: row;
    gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-card {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .social-link:focus {
    background-color: #404bbf;
  }
}
/* ==========END Team section ========== */

/* ==========Projekt Card ========== */
.portfolio-section {
  padding: 96px 0;
  min-width: 288px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.prt-tab {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-liste {
  width: 288px;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-liste:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-liste:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-application {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-direction {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .prt-tab {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-liste {
    margin: 0;
    width: calc((100% - 24px) / 2);
  }

  .portfolio-overlay {
    width: 356px;
    height: 300px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }

  .prt-tab {
    row-gap: 48px;
  }

  .portfolio-liste {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-overlay {
    width: 360px;
  }

  .portfolio-liste:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* ==========END Projekt Card ========== */

/* ==========Page-footer ========== */

.page-footer {
  background: #2e2f42;
  padding: 96px 0;
  min-width: 288px;
}

@media only screen and (max-width: 767px) {
  .footer_cont {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
  }

  .foot-left {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .soc-block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
}

.footer-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  text-align: left;
}

.soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-liste-icon {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.social-link-foot {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-foot:hover {
  background-color: #31d0aa;
}

.iconka-foot {
  fill: #f4f4fd;
}

.footer-third {
  display: flex;
  flex-direction: column;
}

.subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.lab-subscribe {
  display: flex;
  justify-content: center;
}

.input-subscribe {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  margin-bottom: 16px;
}

.input-subscribe::placeholder {
  color: white;
}

.input-subscribe:focus {
  outline: none;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.btn-subscribe:hover {
  background-color: #404bbf;
}

.icon-subs {
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .footer_cont {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .foot-left {
    margin-right: 24px;
    margin-left: 108px;
    margin-bottom: 72px;
  }

  .subscribe {
    margin-left: 108px;
    text-align: left;
  }

  .form-subscribe {
    display: flex;
    gap: 24px;
    margin-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .foot-left {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 120px;
  }
  .soc-block {
    margin-right: 80px;
  }

  .social-link-foot:focus {
    background-color: #31d0aa;
  }

  .btn-subscribe:focus {
    background-color: #404bbf;
  }

  .form-subscribe {
    margin-left: 0;
  }

  .subscribe {
    margin-left: 0;
  }

  .btn-subscribe {
    margin: 0;
  }
}

/* ==========END Page-footer ========== */

/* ======== Backdrop ======== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
/* ========  Modal window ======== */
.modal {
  position: absolute;
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ======== Modal window-Button CLOSE ======== */
.modal-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  fill: #2e2f42;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-btn-icon {
  fill: #ffffff;
}

/* ========  Modal window - INPUT ======== */

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  max-width: 256px;
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-form-wrapper-comment {
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-wrapper-cont {
  position: relative;
}

.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========  Modal window - TEXTAREA ======== */

.modal-form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

/* ========  Modal window - CHECKBOX ======== */

.modal-form-check {
  margin-bottom: 24px;
}

.modal-form-checkbox:checked + .check-label .oun-checkbox {
  background: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-checkbox:focus + .check-label .oun-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.check-label {
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.oun-checkbox {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========  Modal window - BUTTON ======== */

.modal-form-submit-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-text {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1158px) {
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-close-btn:focus > .modal-close-btn-icon {
    fill: #ffffff;
  }
}
