/* ======== Common styles ======== */
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ======== END Common styles ======== */

/* ======== Page Header styles ======== */
.page-hdr {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-hdr-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
/* Smartphone */
@media only screen and (max-width: 767px) {
  .page-menu,
  .page-address {
    display: none;
  }

  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
  }

  .page-hdr {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/* =========== Mobile menu styles =========== */
@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: opacity 250ms linear, visibility 250ms linear;
    opacity: 0;
    visibility: hidden;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobil-menu-container {
    position: relative;
  }

  .mobil-close-btn {
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    fill: #2e2f42;
    line-height: 0;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-close-btn:hover {
    background-color: #404bbf;
    border: none;
  }

  .mobil-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-close-btn:hover > .mobil-close-btn-icon {
    fill: #ffffff;
  }

  .mobil-page-nav {
    padding-top: 72px;
    margin-bottom: 168px;
  }

  .mobil-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobil-nav-menu-current {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-nav-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-nav-menu:hover,
  :focus {
    color: #404bbf;
  }

  .mobil-page-address {
    margin-bottom: 48px;
    font-style: normal;
  }

  .mobil-page-link {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobil-address-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-address-link:hover,
  :focus {
    color: #4d5ae5;
  }

  .mob-ul-soc-block {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .mob-li-soc-block {
    width: 40px;
    height: 40px;
  }

  .mob-link-soc-block {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-link-soc-block:hover,
  :focus {
    background-color: #31d0aa;
  }

  .mob-iconka-soc-block {
    fill: #f4f4fd;
  }
}
/* =========== END Mobile menu styles =========== */

/* Tablet */
@media only screen and (min-width: 768px) {
  .page-menu,
  .page-address {
    display: flex;
  }

  .menu-open-btn,
  .mobile-menu {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .page-menu {
    display: flex;
    gap: 40px;
  }

  .nav-menu-current {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu-current::after {
    position: absolute;
    content: '';
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
  }

  .nav-menu {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu:hover,
  :focus {
    color: #404bbf;
  }

  .page-address {
    font-style: normal;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  :focus {
    color: #404bbf;
  }

  .page-link-mail {
    margin-bottom: 12px;
  }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 176px;
  }

  .page-link {
    display: flex;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .page-link-mail {
    margin-bottom: 0;
  }
}

/* =========== Hero section =========== */
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  border-radius: 4px;
  font-family: inherit;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  border: none;
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
:focus {
  background: #404bbf;
}

.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fonpage/mobil_fonpage.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  margin: 0 auto;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/mobil_fonpage@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/tabltett_fonpage.jpg);
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/tabltett_fonpage@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/fonpage.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonpage/fonpage@2x.jpg);
  }
}
/* =========== END Hero section =========== */

/* =========== Benefits section =========== */

@media only screen and (max-width: 1157px) {
  .benefits-icons {
    display: none;
  }
}

.benefits {
  padding: 96px 0;
}

.benefits-tab {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .benefits-tab {
    display: flex;
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .benefits-titel {
    text-align: left;
  }

  .benefits-liste {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }

  .benefits-tab {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }

  .benefits-liste {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icons {
    display: flex;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .benefits-text {
    font-weight: 400;
  }
}
/* =========== END Benefits section =========== */

/* ============= Team section ============= */
.team-section {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-tabl {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-card {
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: 264px;
  margin: 0 auto;
}

.cont-div {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-liste-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-icon {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconka {
  fill: #f4f4fd;
}

.social-link:hover {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .team-tabl {
    flex-direction: row;
    gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-card {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .social-link:focus {
    background-color: #404bbf;
  }
}
/* ==========END Team section ========== */
